@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  --font-family-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(15.19% 0.0219 265.75);

  --color-muted: oklch(96.72% 0.0043 264.53);
  --color-muted-foreground: oklch(54.43% 0.0151 264.54);

  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(15.19% 0.0219 265.75);

  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(15.19% 0.0219 265.75);

  --color-border: oklch(91.89% 0.0066 264.54);
  --color-input: oklch(91.89% 0.0066 264.54);

  --color-primary: oklch(22.01% 0.0456 265.75);
  --color-primary-foreground: oklch(98.04% 0.0048 264.54);

  --color-secondary: oklch(96.72% 0.0043 264.53);
  --color-secondary-foreground: oklch(22.01% 0.0456 265.75);

  --color-accent: oklch(96.72% 0.0043 264.53);
  --color-accent-foreground: oklch(22.01% 0.0456 265.75);

  --color-destructive: oklch(62.8% 0.2577 29.23);
  --color-destructive-foreground: oklch(98.04% 0.0048 264.54);

  --color-ring: oklch(15.19% 0.0219 265.75);

  --radius-sm: calc(0.5rem - 4px);
  --radius-md: calc(0.5rem - 2px);
  --radius-lg: 0.5rem;
  --radius-xl: calc(0.5rem + 4px);
}

.dark {
  --color-background: oklch(15.19% 0.0219 265.75);
  --color-foreground: oklch(98.04% 0.0048 264.54);

  --color-muted: oklch(25.04% 0.0462 264.54);
  --color-muted-foreground: oklch(70.22% 0.0153 264.54);

  --color-popover: oklch(15.19% 0.0219 265.75);
  --color-popover-foreground: oklch(98.04% 0.0048 264.54);

  --color-card: oklch(15.19% 0.0219 265.75);
  --color-card-foreground: oklch(98.04% 0.0048 264.54);

  --color-border: oklch(25.04% 0.0462 264.54);
  --color-input: oklch(25.04% 0.0462 264.54);

  --color-primary: oklch(98.04% 0.0048 264.54);
  --color-primary-foreground: oklch(22.01% 0.0456 265.75);

  --color-secondary: oklch(25.04% 0.0462 264.54);
  --color-secondary-foreground: oklch(98.04% 0.0048 264.54);

  --color-accent: oklch(25.04% 0.0462 264.54);
  --color-accent-foreground: oklch(98.04% 0.0048 264.54);

  --color-destructive: oklch(41.71% 0.1967 29.23);
  --color-destructive-foreground: oklch(98.04% 0.0048 264.54);

  --color-ring: oklch(85.42% 0.0193 264.54);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
